    </div>

      <!-- footer -->
    <div class="row">
        <div class="footer">
          <div class="footer_left">
            <ul>
              <li><a class="{%if page.nav == 'index'%}active{%endif%}" href="/index.html" >Home</a></li>
              <li><a class="{%if page.nav == 'solutions'%}active{%endif%}" href="/solutions/dg-exchange.html" >Solutions</a></li>
              <li><a class="{%if page.nav == 'platform'%}active{%endif%}" href="/platform.html" >Platform</a></li>
              <li><a class="{%if page.nav == 'about-us'%}active{%endif%}" href="/about-us.html" >About Us</a></li>
              <li><a class="{%if page.nav == 'press'%}active{%endif%}" href="/press/press-releases.html" >News</a></li>
              <li><a target="_blank" href="http://blog.dicomgrid.com" >Blog</a></li>
              <li><a class="{%if page.nav == 'contact-us'%}active{%endif%}" href="/contact-us.html"  class="current">Contact Us</a></li>
              <li><a class="{%if page.nav == 'terms'%}active{%endif%}" href="/terms-of-use.html" >Terms of Use</a></li>
              <li><a class="{%if page.nav == 'privacy'%}active{%endif%}" href="/privacy-policy.html" >Privacy Policy</a></li>
          </div>
      
          <div class="footer_right">
            <div class="social_links">
              <ul>
                <li class="twitter"><a href="http://twitter.com/#!/DICOMGrid" target="_blank"></a></li>
                <li class="facebook"><a href="http://www.facebook.com/dicomgridinc" target="_blank"></a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/company/dicom-grid" target="_blank"></a></li>
              </ul>
            </div>
            <div class="copy">&copy; Copyright 2012 Dicom Grid. All Rights reserved.</div>
          </div>
        </div>
      </div> <!-- /footer -->

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <script src="/js/scripts.min.js"></script>
    <script src="/js/application.min.js"></script>

    <div class="modal" id="VideoModal" style="display:none;width:650px;">
      <button class="close" data-dismiss="modal" style="font-weight:bold;margin-right:5px;margin-top:5px;">X</button>
      <br/>
      <div class="modal-body" style="margin-left:30px">
      </div>
    </div>

    <script type="text/javascript"> 
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24978737-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
  </body>
</html>
