{% include _header.html %}

<div class="left_col"> 
  <ul class="left_nav">
    <li><a href="/press/press-releases.html">Press Releases</a></li>
    <li><a href="/press/in-the-news.html">In The News</a></li>
    <li><a href="/press/events.html">Events</a></li>
  </ul>
</div>

<div class="middle_col">
    {{content}}
</div>

<div class="right_col">
			<h3>Media Contact</h3>
DICOM Grid <br />
2702 N 3rd St, Suite 3030<br />
Phoenix, AZ 85021 <br />
Tel 602.687.8046  <br />
<a href="mailto:info@dicomgrid.com">info@dicomgrid.com</a>

</div>


{% include _footer.html %}
