{% include _header.html %}

<div class="left_col" style="margin-left: 25px; width: 220px; margin-right: 50px;"> 
  <h3>Request a demo {%if page.loc %} at {{ page.loc }}{%endif%}</h3>
    
    <br />
    {% include _request_a_demo_form.html %}
</div>

<div class="middle_col rq-demo" style="width: 420px;">
    {{content}}
</div>

<div class="right_col" style="padding-top: 35px;">

<div class="">
  <h3>What our customers are saying...</h3>
  <a data-toggle="modal" href="#VideoModal" target="_blank"><img id="video_image" data-video-num="1" src="/img/solutions/videoSolutions2.png" /></a>
</div>

</div>

{% include _footer.html %}
