{% include _header.html %}

<div class="left_col"> 
  <ul class="left_nav">
    <li><a href="/solutions/dg-exchange.html">DG Exchange</a></li>
    <li><a href="/solutions/dg-trials.html">DG Trials</a></li>
    <li><a href="/solutions/dg-retention.html">DG Retention</a></li>
    <li><a href="/solutions/dg-import.html">DG Import</a></li>
    <li><a href="/solutions/dg-phr.html">DG PHR</a></li>
    <li><a href="/solutions/dg-mobile.html">DG Mobile</a></li>
  </ul>
</div>

<div class="middle_col">
    {{content}}
</div>

<div class="right_col">

<div class="{{ page.right_box_1 }}_bg">
  <span><a id="tellMeMore" href="/tell-me-more.html">Tell me more...</a></span>
</div>

<div class="{{ page.right_box_2 }}_bg">
  <span><a data-toggle="modal" href="#MHVideoModal" target="_blank">DICOM Grid dramatically improves patient care at Memorial Hermann Hospital ...</a></span>
</div>

</div>

<div class="modal" id="MHVideoModal" style="display:none;width:650px;">
  <button class="close" data-dismiss="modal" style="font-weight:bold;margin-right:5px;margin-top:5px;">X</button>
  <br/>
  <div class="modal-body" style="margin-left:30px">
    <object width="560" height="315"><param name="movie" value="http://www.youtube.com/v/QptCT672CAc?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/QptCT672CAc?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
  </div>
</div>


{% include _footer.html %}
