{% include _header.html %}

<div class="left_col"> 
  <ul class="left_nav">
    <li><a href="/solutions/dg-exchange.html">DG Exchange</a></li>
    <li><a href="/solutions/dg-trials.html">DG Trials</a></li>
    <li><a href="/solutions/dg-retention.html">DG Retention</a></li>
    <li><a href="/solutions/dg-import.html">DG Import</a></li>
    <li><a href="/solutions/dg-phr.html">DG PHR</a></li>
    <li><a href="/solutions/dg-mobile.html">DG Mobile</a></li>
  </ul>
</div>

<div class="middle_col">
    {{content}}
</div>

<div class="right_col">

<div class="{{ page.right_box_1 }}_bg">
  <span><a id="tellMeMore" href="/tell-me-more.html">Tell me more...</a></span>
</div>

</div>


{% include _footer.html %}
